@import "tailwindcss";

@font-face {
    font-family: "Chess Sans";
    display: swap;
    src: url("/fonts/chess-sans-700.woff2");
}

@theme {
    --color-background: #312e2b;

    --color-primary: #81b64c;
    --color-primary-hover:#a3d160;

    --color-secondary:#262422;
    --color-secondary-hover:#3a3835;

    --color-overlay-shadow: #00000066;

    --font-sans: "Chess Sans", sans-serif;
}